<!--
Title: security-question-list.component.html
Author: Professor Krasso
Date: 02/12/2023
Modified By: Andres Macias/Patrick Wolff/April Yang
Description: Create, display security questions template
-->

<!-- use primeng  -->
<p-confirmDialog
  [style]="{ width: '35vw' }"
  [baseZIndex]="10000"
  rejectButtonStyleClass="p-button-text"
>
</p-confirmDialog>

<!-- page title -->
<mat-card
  style="
    width: 70%;
    margin-right: 15%;
    margin-left: 15%;
    margin-top: 30px;
    margin-bottom: 150px;
    background-color: #c0c0c0;
  "
>
  <div fxLayout="column" fxLayoutGap="20px">
    <div fxFlex>
      <h1
        class="title"
        style="background-color: #eeba30; text-align: center; margin-top: 20px"
      >
        Security Questions Configuration Page! <br />
        <span class="subtitle">
          Fields marked with an asterisk(*) are required.
        </span>
      </h1>
    </div>

    <!-- enter and submit security question form or returns error messages-->

    <div fxFlex>
      <div fxLayout="column" class="pageDesign">
        <mat-card>
          <form [formGroup]="sqForm" (ngSubmit)="create(); sqForm.reset()">
            <mat-form-field appearance="fill" class="w-100" style="width: 100%">
              <mat-label style="width: 100%">Security question</mat-label>
              <input
                type="text"
                matInput
                formControlName="text"
                required
                placeholder="Enter a security question..."
                style="width: 100%"
              />

              <button
                type="submit"
                [disabled]="!sqForm.valid"
                mat-icon-button
                matSuffix
              >
                <mat-icon
                  color="primary"
                  style="width: 36px; height: 36px; font-size: 36px"
                  matSuffix
                >
                  add_circle</mat-icon
                >
              </button>
            </mat-form-field>

            <mat-error
              *ngIf="
                sqForm.controls['text'].hasError('required') &&
                sqForm.controls['text'].touched
              "
            >
              Security question is a required field.
            </mat-error>
          </form>
        </mat-card>
      </div>
    </div>

    <!-- display security questions with edit and delete button-->
    <div fxFlex>
      <p-table [value]="securityQuestions" responsiveLayout="scroll">
        <ng-template pTemplate="header">
          <tr>
            <th
              style="
                text-align: left;
                font-family: lato;
                font-size: 1rem;
                padding-bottom: 10px;
              "
            >
              Questions
            </th>
            <th style="width: 8rem"></th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-sq>
          <tr>
            <td style="padding-bottom: 10px; font-family: lato">
              {{ sq.text }}
            </td>
            <td style="text-align: center">
              <button
                pButton
                pRipple
                type="button"
                routerLink="/security-questions/{{ sq._id }}"
                icon="pi pi-pencil"
              ></button>
              <button
                pButton
                pRipple
                type="button"
                (click)="delete(sq._id)"
                icon="pi pi-trash"
              ></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</mat-card>
