
<!--
Title: not-found.html
Author: Professor Krasso
Date: 02/18/2023
Modified By: Andres Macias/Patrick Wolff/April Yang
Description: 404 Not Found Page for BCRS
-->
<body>
  <main>
    <div class="container">
        <h1>404 </h1>
        <h2 >Sorry, page not found</h2>
        <img src="./assets/computer_users.jpg" alt="People sitting at computers" style="width: 400px;height: 600px;" />
        <button mat-raised-button color="primary" routerLink="/">Home</button>
      </div>


  </main>
</body>


position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);
