/*
 Title: not-found.component.css
 Author: Professor Krasso
 Date: 02/18/2023
 Modified By: Andres Macias/Patrick Wolff/April Yang
 Description: Styling for not-found 400 page
 */


main {
  margin: 100px auto auto auto;
  width: 100%;
  max-width: 500px;
}

body {
  margin: 0;
}

h1 {
  text-align: center;
  font-size: 100px
}

h2 {
  text-align: center;
  font-size: 25px
}

img {
  margin: auto;
  max-width:500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.container {
  position: relative;
  text-align: center;
}

