
<!--
Title: not-found.html
Author: Professor Krasso
Date: 02/18/2023
Modified By: Andres Macias/Patrick Wolff/April Yang
Description: 404 Not Found Page for BCRS
-->
<body>
  <main>
    <h1>404</h1>
    <div class="container">
      <img src="./assets/cookie_the_dog.jpg" alt="Dog at computer" style="width: 400px;height: 600px;" />
      <div class="bottomleft">Image courtesy of: Cookie the Pomi https://unsplash.com/photos/siNDDi9RpVY</div>
    </div>
    <h2>Sorry, page not found</h2>
    <button mat-raised-button color="primary" routerLink="/">Home</button>
  </main>
</body>
