
<!--
Title: not-found.html
Author: Professor Krasso
Date: 02/18/2023
Modified By: Andres Macias/Patrick Wolff/April Yang
Description: 404 Not Found Page for BCRS
-->
<body>
  <main>
    <div class="container">
        <h1>Lost?</h1>
        <h2 >Sorry, the page you are looking for does not exist!</h2>
        <img src="./assets/404-error.png" alt="404 error icon" style="width: 400px;height: 400px;" />
        <button mat-raised-button color="primary" routerLink="/">Home</button>
      </div>
      <a href="https://www.flaticon.com/free-icons/page-not-found" title="page not found icons">Page not found icons created by manshagraphics - Flaticon</a>


  </main>
</body>
