<!--
Title: reset-password-form.component.html
Author: Professor Krasso
Date: 02/12/2023
Modified By: Andres Macias/Patrick Wolff/April Yang
Description: reset password form template
-->

<!-- http://localhost:4200/#/session/reset-password -->
<!-- navbar -->
<header>
  <nav>
    <mat-toolbar>
      <mat-toolbar-row class="logoBar">
        <div class="layout-header-container">
          <button class="logo" routerLink="/" mat-button>
            Bob's Computer Repair Shop
          </button>
          <span class="example-spacer"></span>
        </div>
      </mat-toolbar-row>
      <mat-toolbar-row class="slogenBar"></mat-toolbar-row>
    </mat-toolbar>
  </nav>
</header>

<br />

<div fxLayout="row wrap" fxLayoutAlign="center start">
  <div fxFlex.gt-sm="55" fxFlex="100">
    <br /><br />

    <mat-card
      class="card-container mat-elevation-z4"
      style="margin-bottom: 70px; background-color: #f2f2f2"
    >
      <mat-card-title>
        <h1 class="title" style="text-align: center">
          Forgot Password <br />
          <h4 style="text-align: center">
            <span class="subtitle">
              Fields marked with an asterisk (*) are required.
            </span>
          </h4>
        </h1>
      </mat-card-title>

      <br /><br />

      <form [formGroup]="form" (ngSubmit)="updatePassword()" #resetPasswordFrom>
        <mat-card-content fxLayout="column">
          <mat-form-field fxFlex appearance="fill">
            <mat-label>Reset password</mat-label>
            <input
              matInput
              required
              type="password"
              formControlName="password"
            />

            <mat-error
              class="error"
              *ngIf="
                form.controls['password'].hasError('required') &&
                form.controls['password'].touched
              "
            >
              Password is a required field.
            </mat-error>

            <mat-error
              class="error"
              *ngIf="
                form.controls['password'].hasError('pattern') &&
                form.controls['password'].touched
              "
            >
              Password must be at least 8 characters, contain one letter, and
              one number.
            </mat-error>
          </mat-form-field>

          <br /><br />

          <div fxFlex fxLayoutAlign="end" class="p5">
            <button
              mat-raised-button
              routerLink="/session/login"
              style="
                background-color: #eeba30;
                color: white;
                font-family: Lato;
                font-weight: bold;
              "
            >
              Cancel
            </button>
            &nbsp;&nbsp;
            <button
              mat-raised-button
              [disabled]="!form.valid"
              style="
                background-color: #e40002;
                color: white;
                font-family: Lato;
                font-weight: bold;
              "
            >
              Update Password
            </button>
          </div>
        </mat-card-content>
      </form>
    </mat-card>
  </div>
</div>
