/*
Title: reset-password-form.component.css
Author: April Yang
Date: 02/19/2023
Modified By: Andres Macias/Patrick Wolff
Description: styling for reset-password-form template
*/

.logo{
  color: #FFFFFF;
  font-family: 'Grand Hotel';
  font-size: 45px;
  text-align: left;
}

.logoBar{
  height: 100px;
  background-color: #740001;
  padding: 0 36px;
}

.slogenBar{
  background-color: #eeba30;
  height: 40px;

}

.example-spacer {
  flex: 4 4 auto;
}
