<!--
Title: invoice-summary-dialog.component.html
Author: Professor Krasso
Date: 02/12/2023
Modified By: Andres Macias/Patrick Wolff/April Yang
Description: Displays invoice for customer
-->

<!-- main container -->
<div fxLayout="column">
  <!-- begin card container -->
  <mat-card class="mat-elevation-z0">
    <mat-card-title
      mat-dialog-title
      style="text-align: center; background-color: #c0c0c0"
    >
      {{ username }} please confirm your order
    </mat-card-title>
    <mat-card-subtitle style="text-align: center">
      Order date: {{ orderDate | date }}
    </mat-card-subtitle>

    <mat-card-content mat-dialog-content>
      <div fxLayout="column" fxLayoutGap="10px">
        <div fxFlex>
          <!-- start card container -->
          <mat-card>
            <mat-card-title>Services</mat-card-title>
            <mat-card-content>
              <!-- for loop lineItem, display lineItem title and price -->
              <div *ngFor="let lineItem of invoice.getLineItems()">
                <mat-list>
                  <mat-list-item>
                    {{ lineItem.title }}:
                    <div fxFlex></div>
                    {{ lineItem.price | currency }}
                  </mat-list-item>
                </mat-list>
              </div>
            </mat-card-content>
          </mat-card>
          <!-- end card container -->
        </div>

        <div fxFlex>
          <!-- begin card container -->
          <mat-card>
            <mat-card-title>Standard Fees</mat-card-title>
            <mat-card-content>
              <mat-list>
                <mat-list-item *ngFor="let lineItem of invoice.getLineItems()">
                  Labor ({{ lineItem.title }}): {{ lineItem.laborHours }} hours
                  @ 50/hr:
                  <div fxFlex></div>
                  {{ lineItem.laborHours * 50 | currency }}
                </mat-list-item>
              </mat-list>
            </mat-card-content>
          </mat-card>
          <!-- end card container -->
        </div>

        <div fxFlex>
          <!-- begin card container -->
          <mat-card>
            <mat-card-title>Adjustments</mat-card-title>
            <mat-card-content>
              <mat-list>
                <mat-list-item>
                  Labor: Extra hours @ 50/hr:
                  <div fxFlex></div>
                  {{adjustedLabor | currency}}
                </mat-list-item>
              </mat-list>
              <mat-list>
                <mat-list-item>
                 Parts
                  <div fxFlex></div>
                  {{adjustedParts | currency}}
                </mat-list-item>
              </mat-list>
            </mat-card-content>
          </mat-card>
          <!-- end card container -->
        </div>

        <div fxFlex>
          <!-- begin card container -->
          <mat-card>
            <mat-card-content>
              <mat-list>
                <mat-list-item>
                  &nbsp;
                  <div fxFlex></div>
                  Total charges: {{ total | currency }}
                </mat-list-item>
              </mat-list>
            </mat-card-content>
          </mat-card>
          <!-- end card container -->
        </div>

        <br />
      </div>
    </mat-card-content>
  </mat-card>
  <!-- end card container -->
</div>

<div mat-dialog-actions align="end">
  <button
    mat-raised-button
    matDialogClose="cancel"
    style="background-color: #eeba30; color: white"
  >
    Cancel
  </button>
  <button
    mat-raised-button
    matDialogClose="confirm"
    style="background-color: #e40002; color: white"
  >
    Confirm Order
  </button>
</div>
