<div fxLayout="column" class="main-welcome">
  <div fxFlex>
    <h1 class="title">
      Who are at Bob's Computer repair shop <br />
    </h1>
  </div>

  <div fxFlex>
    <div class="task-container" fxLayout="row">
      <p class="about-us-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem dignissimos optio ut, magnam aspernatur ipsam, nam cum assumenda accusantium natus sequi nisi nesciunt expedita deleniti, neque eos aut beatae. Ut. Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda commodi velit impedit. Culpa dolorum, sed corrupti voluptates, porro tempora cupiditate ipsam fugiat, in nostrum error. Aliquam reiciendis commodi iusto alias? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores est ipsam voluptatem nemo dolorem unde tenetur eos incidunt perspiciatis vel consequatur quod quaerat non, eius quidem praesentium eaque provident vitae?</p>

      <p class="about-us-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Assumenda, nisi dignissimos, dolores laboriosam ullam natus obcaecati voluptate doloremque iure harum, dolorem quaerat! Recusandae ut sit mollitia expedita velit accusantium neque? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Placeat sit illo a. Sunt provident officia quisquam placeat, voluptate reprehenderit quaerat ut, adipisci quia saepe qui laudantium voluptatum eum, iusto iure? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam vero animi voluptatum, cupiditate dicta commodi obcaecati distinctio quis illo, velit assumenda voluptatem. Non cum in veritatis sapiente mollitia sint quod. Lorem ipsum dolor sit amet consectetur adipisicing elit. A corrupti veniam est eum dolore porro ipsa repellendus. Reprehenderit hic, laborum itaque, quaerat modi quas ipsam, voluptatibus numquam amet distinctio beatae!</p>

    </div>
  </div>
</div>
