<!--
  Title: login.component.html
  Author: Andres Macias
  Contributors: Patrick Wolff, April Yang
  Date: Feb 7th 2023
  Description: Login page for the application.
-->

<div fxLayout>
  <mat-card class="mat-elevation-z0 login-card">
    <mat-card-header class="padding-bottom-5" fxLayoutAlign="center">
      <mat-card-title>
        <h1 class="card-title">Login</h1>
      </mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="login(); loginForm.reset()">
        <!--
          TODO:
          - Add username and password validation
        -->
        <mat-card-content>
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Username</mat-label>
            <input type="text" matInput formControlName="userName">
          </mat-form-field>
          <br>
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Password</mat-label>
            <input type="password" matInput formControlName="password">
          </mat-form-field>

          <mat-card-actions>
            <button type="submit" class="full-width" mat-raised-button>Submit</button>
          </mat-card-actions>

        </mat-card-content>
      </form>
      <div fxLayout fxLayoutAlign="space-between">
        <!--
          TODO:
          - Add sign up route
        -->
        <a href="" class="navbar-link" routerLink="#">Sign up</a>
        <!--
          TODO:
          - Add forgot password route
        -->
        <a href="" class="navbar-link" routerLink="#">Forgot Password</a>
      </div>
    </mat-card-content>
  </mat-card>
</div>
