<!--
Title: cart.component.html
Author: Professor Krasso
Date: 02/21/2023
Modified By: Andres Macias/Patrick Wolff/April Yang
Description: shopping cart page template
Reference: https://www.youtube.com/watch?v=d_G0cs1G1Hs
https://angular.io/start
-->

<!-- display product's name, price, and subtotal in the shopping cart page, when user starts to add the product  -->
<ng-container *ngIf="itemCount() > 0">
  <mat-card
    style="
      width: 60%;
      margin-top: 70px;
      margin-left: 20%;
      margin-right: 20%;
      margin-bottom: 100px;
      height: 50%;
      padding: 0px;
    "
  >
    <mat-card-header
      style="
        background-color: #740001;
        display: block;
        text-align: center;
        height: 50px;
      "
    >
      <h1
        style="
          color: white;
          margin-bottom: 0px;
          padding-top: 5px;
          padding-bottom: 5px;
        "
      >
        Your Service Repair Orders
      </h1>
    </mat-card-header>

    <mat-card style="margin-bottom: 30px">
      <mat-card-content>
        <!-- first card -->
        <mat-card
          style="
            width: 90%;
            margin-left: 5%;
            margin-right: 5%;
            margin-top: 10px;
          "
        >
          <div class="cart-item">
            <ul style="text-align: center; padding: 0px; margin-left: 20px">
              <li
                *ngFor="let item of items"
                style="display: flex; align-items: center"
              >
                <div style="width: 300px; text-align: left; font-family: Lato">
                  {{ item.title }}
                  <mat-divider></mat-divider>
                </div>
                <div style="width: 300px; text-align: left; font-family: Lato">
                  {{ item.price | currency }}
                  <mat-divider></mat-divider>
                </div>
                <div>
                  <button
                    mat-icon-button
                    (click)="removeItemFromCart(item)"
                    style="color: #e40002; text-align: left"
                  >
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>
              </li>
            </ul>
          </div>
        </mat-card>
        <!-- end first card -->
        <!-- second card  -->
        <mat-card
          style="
            width: 90%;
            margin-left: 5%;
            margin-right: 5%;
            margin-top: 10px;
          "
        >
          <div class="fees-list">
            <div>
              <p style="font-weight: bold">Standard Fees:</p>
            </div>
            <div>
              <p>Labor Fee (one time charge):</p>
            </div>
            <ul>
              <li
                *ngFor="let item of items"
                style="display: flex; align-items: center"
              >
                <div style="width: 300px; text-align: left; font-family: Lato">
                  {{ item.title }}
                  <mat-divider></mat-divider>
                </div>
                <!-- <div style="width: 300px; text-align: left; font-family: Lato">
                  {{ item.laborFee | currency }}
                  <mat-divider></mat-divider>
                </div> -->
              </li>
            </ul>
          </div>
        </mat-card>
        <!-- end second card -->
        <!-- third card -->
        <mat-card
          style="
            width: 90%;
            margin-left: 5%;
            margin-right: 5%;
            margin-top: 10px;
            margin-bottom: 30px;
          "
        >
          <div class="subtotal">
            <div style="display: flex; align-items: center">
              <p style="font-weight: bold; width: 550px">Your subtotal:</p>
              <!-- </div>
            <div style="display: flex; align-items: center"> -->
              <p style="font-weight: bold">
                {{ yourSubtotal | currency }}
                <mat-divider></mat-divider>
              </p>
            </div>
          </div>

          <!-- place order button -->
          <mat-card-actions
            style="
              padding: 15px 0;
              margin-left: 0;
              margin-right: 0;
              text-align: right;
            "
          >
            <button
              mat-button
              style="
                background-color: #ffb834;
                border-radius: 5px;
                color: white;
                font-family: Lato;
                align-items: center;
                margin-left: 0;
                margin-right: 0;
              "
              (click)="generateInvoice()"
            >
              Generate Invoice
            </button>
          </mat-card-actions>
        </mat-card>
        <!-- end third card -->
      </mat-card-content>
    </mat-card>
  </mat-card>
</ng-container>
