/* You can add global styles to this file, and also import other style files */

/*
- Description: flex layout documentation. DO NOT REMOVE THIS COMMENT
- link: https://github.com/angular/flex-layout/wiki/API-Documentation */

html,
body {
  height: 100%;
}

body {
  margin: 0;

}

/**********
Generic utility styles
***********/

.full-width {
  width: 100%;
}

.center {
  text-align: center;
}

h1.card-title {
  font-size: 56px;
}

.padding-bottom-5 {
  padding-bottom: 5em;
}

/* Global styles for paragraphs */
* p {
  font-family: 'Lato', sans-serif;
}


/* Global styles for the heading elements */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Abril Fatface', cursive !important;
}

/* Global styles for the anchor elements */
a {
  text-decoration: none;
  color: #47525E;
  font-weight: bold;
}


